/* Black */
.black{background-color: black;} 

/* White */
.white{background-color: white;}

/* Shades of Gray */
.gray{background-color: gray;} .darkgray{background-color: darkgray;} .lightgray{background-color: lightgray;} .slategray{background-color: slategray;}
.silver{background-color: silver;}

/* Shades of Blue */
.navy{background-color: navy;} .mediumblue{background-color: mediumblue;} .skyblue{background-color: skyblue;}
.blue{background-color: blue;} .cyan{background-color: cyan;} .turquoise{background-color: turquoise;}

/* Shades of Green */
.darkgreen{background-color: darkgreen;} .lime{background-color: lime;} .olivedrab{background-color: olivedrab;}
.olive{background-color: olive;} .green{background-color: green;}

/* Shades of Yellow */
.goldenrod{background-color: goldenrod;} .khaki{background-color: khaki;} .lemonchiffon{background-color: lemonchiffon;}
.yellow{background-color: yellow;} .gold{background-color: gold;}

/* Shades of Red */
.darkred{background-color: darkred;}.indianred{background-color: indianred;}.firebrick{background-color: firebrick;}
.red{background-color: red;} 

/* Shades of Purple */
.purple{background-color: purple;} .darkpurple{background-color: darkpurple;}.mediumorchid{background-color: mediumorchid;}.blueviolet{background-color: blueviolet;}

/* Additional Colors */
.darkcyan{background-color: darkcyan;}.mediumaquamarine{background-color: mediumaquamarine;}.darkorange{background-color: darkorange;}

/* Shades of Pink */
.pink{background-color: pink;}.lightpink{background-color: lightpink;}.hotpink{background-color: hotpink;}
.deeppink{background-color: deeppink;}.palevioletred{background-color: palevioletred;} .magenta{background-color: magenta;} 

/* Shades of Brown */
.brown{background-color: brown;}.darkgoldenrod{background-color: darkgoldenrod;}.peru{background-color: peru;}
.chocolate{background-color: chocolate;}.saddlebrown{background-color: saddlebrown;} .beige{background-color: beige;}
.rosybrown{background-color: rosybrown;}
