.2020{ width: 20px; height: 20px;}
.gray{background-color: gray;} .black{background-color: black;} .white{background-color: white;}
.yellow{background-color: yellow;} .green{background-color: green;} .red{background-color: red;}
.blue{background-color: blue;} .brown{background-color: brown;} .pink{background-color: pink;}
