.w20h20{ width: 20px; height: 20px;}
.gray{background-color: gray;} .black{background-color: black;} .white{background-color: white;}
.yellow{background-color: yellow;} .green{background-color: green;} .red{background-color: red;}
.blue{background-color: blue;} .brown{background-color: brown;} .pink{background-color: pink;}
.purple{background-color: purple;} .olive{background-color: olive;} .silver{background-color: silver;}
.gold{background-color: gold;} .cyan{background-color: cyan;} .magenta{background-color: magenta;}
.turquoise{background-color: turquoise;} .beige{background-color: beige;} .rosybrown{background-color: rosybrown;}
